.landing
  header
    .header-position
      h3: a(href='/') Rahul Aggarwal

      nav.site-nav
        ul
          li: a(href='about') About
          li: a(href='academics') Academics
          li: a(href='coding') Coding
          li: a(href='writing') Writing
          li: a(href='design') Design
          li: a(href='running') Running
          li: a(href='contact') Contact
          
      .mobile-nav-toggle: span
        
  .landing-message
      .logo
      h4 Coder // Writer // Runner
